<div class="content">
    <h2 class=encabezado>
        Tu perfil
    </h2>
    <div class="perfilPannel pannel">
        <div class="foto">
            <img src="<%= perfil.img %>" height="50" alt="foto de perfil de <%- perfil.userName %>">
        </div>
        <span class="datos">
            <h3 class="nombreUser">
                <%- locals.perfil.userName %><%- locals.perfil.gender=="fem"?"♀":locals.perfil.gender=="mal"?"♂":"¯\\_(ツ)_/¯"; %> <br>
            </h3>
            <%= locals.perfil.age %> años<br>
            
            <%= locals.perfil.points %> puntos<br>
        </span>
    </div>
    <% if(locals.perfil.edit){ %>
    <a href="/editPerfil" class="button" id="modify">Modificar Perfil</a>
    <%}%>
</div>
