<div class="content">
    <h2 class=encabezado>Buscando a
        <%= amigoSolicitado %>
    </h2>
    <% if (solicitudes == null) {%>
    <p>No hay resultados</p>
    <% }else{ %>
      <% solicitudes.forEach((amigo)=>{%>
      <span>
          <img src="/imagen/<%=amigo.email%>" height="50" alt="foto de perfil de <%- amigo.userName %>">
          <a href="/perfil/<%=amigo.email%>">
             <%= amigo.userName %></a>
         <a href="/solicitar/<%-amigo.email%>">Enviar Solicitud</a>
        </span><br>
        <% });%>
    <% } %>
</div>