<div class="content">
    <div class="loginPannel content">
        <%- include("../partials/elements/flash") %>
        <form class= login action="/login" method="POST">
            User:<input class=campo type="text" name="user"><br>
            <% if (errores!=null && errores.user) { %>
            <span class="rojo">
                <%= errores.login.msg %> </span>
            <% } %>
            Pass:<input class=campo type="password" name="password"><br>
            <% if (errores!=null && errores.password) { %>
            <span class="rojo">
                <%= errores.pass.msg %> </span>
            <% } %>
            <input class=button  id="log" type="submit" name="login" value="Login">
        </form>
    </div>
    <% if(config.error!=null) %>
    <span class="error">
        <%- config.error %></span>
    <% if(typeof(error) != 'undefined' && error!=null) %>
    <span class="error">
        <%= error %></span>
</div>