<div class="content">
    <ul class="tareas">
        <% sesion.taskList.forEach((tarea)=>{ %>
        <% if(tarea.done==0){ %>
        <li class="tarea">
            <span class="tarea2">
                <%= tarea.text %>
                <% if (tarea.tags[0]!=null){ %>
                <% tarea.tags.forEach((tag)=>{ %>
                <span class="tag">
                    <%= tag %> </span>
                <% }); %>
                <% } %>
            </span>
            <a href="/fin/:<%= tarea.id%>" class="fin">Marcar Finalizar</a>
        </li>
        <% }else{ %>
        <li class="tarea terminada">
            <span class="tarea2">
                <%= tarea.text %>
            </span>
        </li>
        <% } %>
        <% }); %>
    </ul>
    <%- include("../partials/add") %>
    <div class="eliminarCompletadas">
        <a href="/deleteCompleted">Eliminar completadas</a>
    </div>
</div>