<div class="content">
    <h2>Tu perfil</h2>
    <div class="perfilPannel pannel">
        <span class="foto"><img src="../img/usuario.jpg" alt="foto de perfil de <%- sesion.user %>"></span>
        <span class="datos">
            <h3><%- sesion.user %></h3>
            <%- sesion.edad %> años<br>
            <%- sesion.sexo %> <br>
            <%- sesion.puntos %> puntos<br>
        </span>
    </div>
    <a href="/edit" class="button">Modificar Pearfil</a>
</div>